@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
.main{
    background-color:rgb(255,186,0);
    /* margin-left: 7%;
    margin-right: 7%;
    padding-bottom: 20%; */
    /* display: flex; */
    /* padding-top: 7%; */
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
    /* justify-content: space-evenly; */
}
body{
    background-color: black;
    padding-left: 9%;
    padding-right: 220px;
}
h1{
   
    padding-top: 3%;
    text-align: center;
}
img{
    height: 450px;
    width: 450px;
   
}
body{
   height: 20vh;
}
.container{
    padding-top: 1%;
    height: auto;
    display: flex;
    /* justify-content: space-evenly; */
}
#para{
   
    text-align: center;
    padding-right: 8%;
}
#para2{
    text-align: center;
    padding-right: 8%;
}
#para3{
    text-align: center;
}
h3{
    line-height: 70px;
    font-size: 23px;
}
p{
    font-size: 23px;
    line-height: 10px;
    margin-top: 0px;
}
h2{
    margin-bottom: 2%;
    font-size: 35px;
}