/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    font-size: 45px;
} */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}
body{

    background-color:rgb(11, 11, 11) ;
    
    margin-left: 200px;

}
.container{
    background-color:rgb(109,151,115);
    margin-right: 8%;
    margin-top: 0%;
    padding-bottom: 30px;
}
p{
    padding-left: 15%;
    padding-top: 3%;
    font-size: 30px
    ;
    line-height: 40px;
}
h1{
    padding-left: 5%;
    padding-top: 3%;
    font-size:70px ;
}
img{

    width:90%;
    height:45vh ;
    margin-bottom:30px;
   
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 4%;

}

.header{

    display: flex;
}



/* h1{

    font-size: 50px;
    margin-left: 30px;
    margin-bottom:70px;
    padding-right: 50px;
} */

/* .other{

   

    margin-right:50%;

    margin-top:-45vh ;

} */

