h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color:aquamarine ;
    color: blue;
    text-shadow: 1px 1px; 
    position: relative;
    bottom: 70px;
    top: 80px;
    /* two px for x axis and y axis */
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color:rgb(255, 127, 140) ;
    color: rgb(7, 7, 14);
    text-shadow: 1px 1px;
    position:relative;
    top: 70px;
   
}