@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;800&display=swap');
*{
    font-family: 'Encode Sans Semi Expanded', sans-serif;

}
img{
    width: 70vh;
    height: 99vh;
    float: right;
}
.container{
    background-color:rgb(12,59,46) ;
    color: white;
    padding-bottom: 7%;

}
body{
    background-color: black;
    padding-right: 9%;
    margin-top: 0px;
    padding-left: 9%;
}
.text{
    padding-left: 5%;
    padding-top: 3%;
}
h1{
    font-size: 75px;
    padding-bottom: 70px;
   
}
#p1{
    font-size: 35px;
    padding-bottom: 5%;
    line-height: 50px;
}
#p2{
    font-size: 35px;
    line-height: 50px;
    padding-bottom: 70px;
}
.btn:hover{
    
        background-color: black;
        color: white;
}
.btn{
    text-align: left;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(255,186,0);
    padding: 10px 40px;
    font-weight:bold;
    height: 60px;
    width: 20%;
    font-size: 20px;
}